Clients/Timetable.Site/Service References/NewDataService/DataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.232.254.196:6058/SchedulerHost/Services/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="TimeDataTransfer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataTransfer">
        <xs:sequence>
          <xs:element minOccurs="0" name="End" type="ser:duration" />
          <xs:element minOccurs="0" name="Position" type="xs:int" />
          <xs:element minOccurs="0" name="Start" type="ser:duration" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TimeDataTransfer" nillable="true" type="tns:TimeDataTransfer" />
  <xs:complexType name="BaseDataTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseDataTransfer" nillable="true" type="tns:BaseDataTransfer" />
  <xs:complexType name="WeekTypeDataTransfer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataTransfer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WeekTypeDataTransfer" nillable="true" type="tns:WeekTypeDataTransfer" />
  <xs:complexType name="LecturerDataTransfer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataTransfer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Contacts" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Middlename" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Positions" nillable="true" type="tns:ArrayOfPositionDataTransfer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LecturerDataTransfer" nillable="true" type="tns:LecturerDataTransfer" />
  <xs:complexType name="ArrayOfPositionDataTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PositionDataTransfer" nillable="true" type="tns:PositionDataTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPositionDataTransfer" nillable="true" type="tns:ArrayOfPositionDataTransfer" />
  <xs:complexType name="PositionDataTransfer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataTransfer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PositionDataTransfer" nillable="true" type="tns:PositionDataTransfer" />
  <xs:complexType name="AuditoriumDataTransfer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataTransfer">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuditoriumTypeId" type="xs:int" />
          <xs:element minOccurs="0" name="BuildingId" type="xs:int" />
          <xs:element minOccurs="0" name="Capacity" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuditoriumDataTransfer" nillable="true" type="tns:AuditoriumDataTransfer" />
  <xs:complexType name="ArrayOfGroupDataTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupDataTransfer" nillable="true" type="tns:GroupDataTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupDataTransfer" nillable="true" type="tns:ArrayOfGroupDataTransfer" />
  <xs:complexType name="GroupDataTransfer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataTransfer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CourseId" type="xs:int" />
          <xs:element minOccurs="0" name="ParentId" type="xs:int" />
          <xs:element minOccurs="0" name="SpecialityId" type="xs:int" />
          <xs:element minOccurs="0" name="StudentsCount" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GroupDataTransfer" nillable="true" type="tns:GroupDataTransfer" />
  <xs:complexType name="ArrayOfScheduleDataTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScheduleDataTransfer" nillable="true" type="tns:ScheduleDataTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScheduleDataTransfer" nillable="true" type="tns:ArrayOfScheduleDataTransfer" />
  <xs:complexType name="ScheduleDataTransfer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataTransfer">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuditoriumId" type="xs:int" />
          <xs:element minOccurs="0" name="AutoDelete" type="xs:boolean" />
          <xs:element minOccurs="0" name="DayOfWeek" type="xs:int" />
          <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PeriodId" type="xs:int" />
          <xs:element minOccurs="0" name="ScheduleInfoId" type="xs:int" />
          <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SubGroup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Timetable" type="xs:int" />
          <xs:element minOccurs="0" name="WeekTypeId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScheduleDataTransfer" nillable="true" type="tns:ScheduleDataTransfer" />
  <xs:complexType name="StudyYearDataTransfer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataTransfer">
        <xs:sequence>
          <xs:element minOccurs="0" name="EndYear" type="xs:int" />
          <xs:element minOccurs="0" name="StartYear" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StudyYearDataTransfer" nillable="true" type="tns:StudyYearDataTransfer" />
  <xs:complexType name="ArrayOfTimetableEntityDataTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimetableEntityDataTransfer" nillable="true" type="tns:TimetableEntityDataTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimetableEntityDataTransfer" nillable="true" type="tns:ArrayOfTimetableEntityDataTransfer" />
  <xs:complexType name="TimetableEntityDataTransfer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataTransfer">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TimetableEntityDataTransfer" nillable="true" type="tns:TimetableEntityDataTransfer" />
  <xs:complexType name="ArrayOfBranchDataTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BranchDataTransfer" nillable="true" type="tns:BranchDataTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBranchDataTransfer" nillable="true" type="tns:ArrayOfBranchDataTransfer" />
  <xs:complexType name="BranchDataTransfer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataTransfer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BranchDataTransfer" nillable="true" type="tns:BranchDataTransfer" />
  <xs:complexType name="BuildingDataTransfer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataTransfer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BuildingDataTransfer" nillable="true" type="tns:BuildingDataTransfer" />
  <xs:complexType name="AuditoriumTypeDataTransfer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataTransfer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Pattern" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuditoriumTypeDataTransfer" nillable="true" type="tns:AuditoriumTypeDataTransfer" />
  <xs:complexType name="ArrayOfAuditoriumDataTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuditoriumDataTransfer" nillable="true" type="tns:AuditoriumDataTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuditoriumDataTransfer" nillable="true" type="tns:ArrayOfAuditoriumDataTransfer" />
  <xs:complexType name="TutorialTypeDataTransfer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataTransfer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TutorialTypeDataTransfer" nillable="true" type="tns:TutorialTypeDataTransfer" />
  <xs:complexType name="ArrayOfAuditoriumTypeDataTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuditoriumTypeDataTransfer" nillable="true" type="tns:AuditoriumTypeDataTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuditoriumTypeDataTransfer" nillable="true" type="tns:ArrayOfAuditoriumTypeDataTransfer" />
  <xs:complexType name="ArrayOfBuildingDataTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BuildingDataTransfer" nillable="true" type="tns:BuildingDataTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuildingDataTransfer" nillable="true" type="tns:ArrayOfBuildingDataTransfer" />
  <xs:complexType name="ArrayOfCourseDataTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CourseDataTransfer" nillable="true" type="tns:CourseDataTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourseDataTransfer" nillable="true" type="tns:ArrayOfCourseDataTransfer" />
  <xs:complexType name="CourseDataTransfer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataTransfer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CourseDataTransfer" nillable="true" type="tns:CourseDataTransfer" />
  <xs:complexType name="ArrayOfDepartmentDataTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartmentDataTransfer" nillable="true" type="tns:DepartmentDataTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartmentDataTransfer" nillable="true" type="tns:ArrayOfDepartmentDataTransfer" />
  <xs:complexType name="DepartmentDataTransfer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataTransfer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DepartmentDataTransfer" nillable="true" type="tns:DepartmentDataTransfer" />
  <xs:complexType name="ArrayOfFacultyDataTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FacultyDataTransfer" nillable="true" type="tns:FacultyDataTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFacultyDataTransfer" nillable="true" type="tns:ArrayOfFacultyDataTransfer" />
  <xs:complexType name="FacultyDataTransfer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataTransfer">
        <xs:sequence>
          <xs:element minOccurs="0" name="BranchId" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FacultyDataTransfer" nillable="true" type="tns:FacultyDataTransfer" />
  <xs:complexType name="ArrayOfLecturerDataTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LecturerDataTransfer" nillable="true" type="tns:LecturerDataTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLecturerDataTransfer" nillable="true" type="tns:ArrayOfLecturerDataTransfer" />
  <xs:complexType name="TutorialDataTransfer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataTransfer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TutorialDataTransfer" nillable="true" type="tns:TutorialDataTransfer" />
  <xs:complexType name="ScheduleInfoDataTransfer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataTransfer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Courses" nillable="true" type="tns:ArrayOfCourseDataTransfer" />
          <xs:element minOccurs="0" name="Department" nillable="true" type="tns:DepartmentDataTransfer" />
          <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Faculties" nillable="true" type="tns:ArrayOfFacultyDataTransfer" />
          <xs:element minOccurs="0" name="Groups" nillable="true" type="tns:ArrayOfGroupDataTransfer" />
          <xs:element minOccurs="0" name="HoursPerWeek" type="xs:decimal" />
          <xs:element minOccurs="0" name="Lecturer" nillable="true" type="tns:LecturerDataTransfer" />
          <xs:element minOccurs="0" name="LikeAuditoriums" nillable="true" type="tns:ArrayOfAuditoriumDataTransfer" />
          <xs:element minOccurs="0" name="Semester" type="xs:int" />
          <xs:element minOccurs="0" name="Specialities" nillable="true" type="tns:ArrayOfSpecialityDataTransfer" />
          <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StudyYear" nillable="true" type="tns:StudyYearDataTransfer" />
          <xs:element minOccurs="0" name="SubgroupCount" type="xs:int" />
          <xs:element minOccurs="0" name="Tutorial" nillable="true" type="tns:TutorialDataTransfer" />
          <xs:element minOccurs="0" name="TutorialType" nillable="true" type="tns:TutorialTypeDataTransfer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScheduleInfoDataTransfer" nillable="true" type="tns:ScheduleInfoDataTransfer" />
  <xs:complexType name="ArrayOfSpecialityDataTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpecialityDataTransfer" nillable="true" type="tns:SpecialityDataTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecialityDataTransfer" nillable="true" type="tns:ArrayOfSpecialityDataTransfer" />
  <xs:complexType name="SpecialityDataTransfer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataTransfer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecialityDataTransfer" nillable="true" type="tns:SpecialityDataTransfer" />
  <xs:complexType name="ArrayOfScheduleInfoDataTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScheduleInfoDataTransfer" nillable="true" type="tns:ScheduleInfoDataTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScheduleInfoDataTransfer" nillable="true" type="tns:ArrayOfScheduleInfoDataTransfer" />
  <xs:complexType name="ArrayOfTimeDataTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeDataTransfer" nillable="true" type="tns:TimeDataTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeDataTransfer" nillable="true" type="tns:ArrayOfTimeDataTransfer" />
  <xs:complexType name="ArrayOfTutorialDataTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TutorialDataTransfer" nillable="true" type="tns:TutorialDataTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTutorialDataTransfer" nillable="true" type="tns:ArrayOfTutorialDataTransfer" />
  <xs:complexType name="ArrayOfTutorialTypeDataTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TutorialTypeDataTransfer" nillable="true" type="tns:TutorialTypeDataTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTutorialTypeDataTransfer" nillable="true" type="tns:ArrayOfTutorialTypeDataTransfer" />
  <xs:complexType name="ArrayOfWeekTypeDataTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WeekTypeDataTransfer" nillable="true" type="tns:WeekTypeDataTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWeekTypeDataTransfer" nillable="true" type="tns:ArrayOfWeekTypeDataTransfer" />
  <xs:complexType name="ArrayOfStudyYearDataTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudyYearDataTransfer" nillable="true" type="tns:StudyYearDataTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudyYearDataTransfer" nillable="true" type="tns:ArrayOfStudyYearDataTransfer" />
</xs:schema>