Clients/Timetable.Site/Service References/NewDataService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Timetable.Data.Models" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Timetable.Host.Interfaces" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Timetable.Data.Models" minOccurs="0" name="dto" nillable="true" type="q1:BaseEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Timetable.Host.Interfaces" minOccurs="0" name="AddResult" nillable="true" type="q2:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Timetable.Data.Models" minOccurs="0" name="dto" nillable="true" type="q3:BaseEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Timetable.Host.Interfaces" minOccurs="0" name="UpdateResult" nillable="true" type="q4:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Timetable.Data.Models" minOccurs="0" name="dto" nillable="true" type="q5:BaseEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Timetable.Host.Interfaces" minOccurs="0" name="DeleteResult" nillable="true" type="q6:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForDayTimeDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dayOfWeek" nillable="true" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="period" nillable="true" type="q7:TimeDataTransfer" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="weekTypeDataTransfer" nillable="true" type="q8:WeekTypeDataTransfer" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="lecturerDataTransfer" nillable="true" type="q9:LecturerDataTransfer" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="auditoriumDataTransfer" nillable="true" type="q10:AuditoriumDataTransfer" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="groups" nillable="true" type="q11:ArrayOfGroupDataTransfer" />
        <xs:element minOccurs="0" name="subGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForDayTimeDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetSchedulesForDayTimeDateResult" nillable="true" type="q12:ArrayOfScheduleDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="lecturerDataTransfer" nillable="true" type="q13:LecturerDataTransfer" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="auditoriumDataTransfer" nillable="true" type="q14:AuditoriumDataTransfer" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="groups" nillable="true" type="q15:ArrayOfGroupDataTransfer" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="weekTypeDataTransfer" nillable="true" type="q16:WeekTypeDataTransfer" />
        <xs:element minOccurs="0" name="subGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetSchedulesForAllResult" nillable="true" type="q17:ArrayOfScheduleDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimetableEntities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimetableEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetTimetableEntitiesResult" nillable="true" type="q18:ArrayOfTimetableEntityDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetGroupsByCodeResult" nillable="true" type="q19:ArrayOfGroupDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="scheduleDataTransfer" nillable="true" type="q20:ScheduleDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateScheduleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranches">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetBranchesResult" nillable="true" type="q21:ArrayOfBranchDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuditoriums">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="buildingDataTransfer" nillable="true" type="q22:BuildingDataTransfer" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="auditoriumTypeDataTransfer" nillable="true" type="q23:AuditoriumTypeDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuditoriumsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetAuditoriumsResult" nillable="true" type="q24:ArrayOfAuditoriumDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreeAuditoriums">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="buildingDataTransfer" nillable="true" type="q25:BuildingDataTransfer" />
        <xs:element minOccurs="0" name="day" type="xs:int" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="weekTypeDataTransfer" nillable="true" type="q26:WeekTypeDataTransfer" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="timeDataTransfer" nillable="true" type="q27:TimeDataTransfer" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="tutorialTypeDataTransfer" nillable="true" type="q28:TutorialTypeDataTransfer" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="auditoriumTypeDataTransfer" nillable="true" type="q29:AuditoriumTypeDataTransfer" />
        <xs:element minOccurs="0" name="capacity" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreeAuditoriumsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetFreeAuditoriumsResult" nillable="true" type="q30:ArrayOfAuditoriumDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuditoriumTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuditoriumTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetAuditoriumTypesResult" nillable="true" type="q31:ArrayOfAuditoriumTypeDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetBuildingsResult" nillable="true" type="q32:ArrayOfBuildingDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCources">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetCourcesResult" nillable="true" type="q33:ArrayOfCourseDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeparmtents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeparmtentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetDeparmtentsResult" nillable="true" type="q34:ArrayOfDepartmentDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaculties">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="branchDataTransfer" nillable="true" type="q35:BranchDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacultiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetFacultiesResult" nillable="true" type="q36:ArrayOfFacultyDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsByIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="groupIds" nillable="true" type="q37:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsByIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetGroupsByIdsResult" nillable="true" type="q38:ArrayOfGroupDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsSubGroupsByGroupId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsSubGroupsByGroupIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetsSubGroupsByGroupIdResult" nillable="true" type="q39:ArrayOfGroupDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsForFaculty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="facultyId" type="xs:int" />
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="courseIds" nillable="true" type="q40:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsForFacultyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetGroupsForFacultyResult" nillable="true" type="q41:ArrayOfGroupDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsForSpeciality">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="specialityId" type="xs:int" />
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="courseIds" nillable="true" type="q42:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsForSpecialityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetGroupsForSpecialityResult" nillable="true" type="q43:ArrayOfGroupDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturersByDeparmentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturersByDeparmentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetLecturersByDeparmentIdResult" nillable="true" type="q44:ArrayOfLecturerDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturersByTutorialId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tutorialId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturersByTutorialIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetLecturersByTutorialIdResult" nillable="true" type="q45:ArrayOfLecturerDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturersByTutorialIdAndTutorialTypeId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tutorialId" type="xs:int" />
        <xs:element minOccurs="0" name="tutorialTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturersByTutorialIdAndTutorialTypeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetLecturersByTutorialIdAndTutorialTypeIdResult" nillable="true" type="q46:ArrayOfLecturerDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturerByFirstMiddleLastname">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="arg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturerByFirstMiddleLastnameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetLecturerByFirstMiddleLastnameResult" nillable="true" type="q47:LecturerDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturersByFirstMiddleLastname">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="arg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturersByFirstMiddleLastnameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetLecturersByFirstMiddleLastnameResult" nillable="true" type="q48:ArrayOfLecturerDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleInfoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleInfoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetScheduleInfoByIdResult" nillable="true" type="q49:ScheduleInfoDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleInfoesForFaculty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="facultyId" type="xs:int" />
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
        <xs:element minOccurs="0" name="studyYear" type="xs:int" />
        <xs:element minOccurs="0" name="semester" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleInfoesForFacultyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetScheduleInfoesForFacultyResult" nillable="true" type="q50:ArrayOfScheduleInfoDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleInfoesForSpeciality">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="facultyDataTransfer" nillable="true" type="q51:FacultyDataTransfer" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="courseDataTransfer" nillable="true" type="q52:CourseDataTransfer" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="specialityDataTransfer" nillable="true" type="q53:SpecialityDataTransfer" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="studyYearDataTransfer" nillable="true" type="q54:StudyYearDataTransfer" />
        <xs:element minOccurs="0" name="semester" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleInfoesForSpecialityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetScheduleInfoesForSpecialityResult" nillable="true" type="q55:ArrayOfScheduleInfoDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleInfoesForGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="facultyId" type="xs:int" />
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="groupIds" nillable="true" type="q56:ArrayOfint" />
        <xs:element minOccurs="0" name="studyYear" type="xs:int" />
        <xs:element minOccurs="0" name="semester" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleInfoesForGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetScheduleInfoesForGroupsResult" nillable="true" type="q57:ArrayOfScheduleInfoDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleInfoesForDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="departmentDataTransfer" nillable="true" type="q58:DepartmentDataTransfer" />
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="studyYearDataTransfer" nillable="true" type="q59:StudyYearDataTransfer" />
        <xs:element minOccurs="0" name="semester" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleInfoesForDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetScheduleInfoesForDepartmentResult" nillable="true" type="q60:ArrayOfScheduleInfoDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnscheduledInfoes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="facultyDataTransfer" nillable="true" type="q61:FacultyDataTransfer" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="courseDataTransfer" nillable="true" type="q62:CourseDataTransfer" />
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="specialityDataTransfer" nillable="true" type="q63:SpecialityDataTransfer" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="groupDataTransfer" nillable="true" type="q64:GroupDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnscheduledInfoesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetUnscheduledInfoesResult" nillable="true" type="q65:ArrayOfScheduleInfoDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountScheduleCollisions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="day" type="xs:int" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="timeDataTransfer" nillable="true" type="q66:TimeDataTransfer" />
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="weekTypeDataTransfer" nillable="true" type="q67:WeekTypeDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountScheduleCollisionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountScheduleCollisionsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="facultyId" type="xs:int" />
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="groupIds" nillable="true" type="q68:ArrayOfint" />
        <xs:element minOccurs="0" name="studyYear" type="xs:int" />
        <xs:element minOccurs="0" name="semester" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetSchedulesForGroupsResult" nillable="true" type="q69:ArrayOfScheduleDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForScheduleInfoes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scheduleInfoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForScheduleInfoesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetSchedulesForScheduleInfoesResult" nillable="true" type="q70:ArrayOfScheduleDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesByDayTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="day" type="xs:int" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="timeDataTransfer" nillable="true" type="q71:TimeDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesByDayTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetSchedulesByDayTimeResult" nillable="true" type="q72:ArrayOfScheduleDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForFaculty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="facultyId" type="xs:int" />
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
        <xs:element minOccurs="0" name="studyYearId" type="xs:int" />
        <xs:element minOccurs="0" name="semester" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForFacultyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetSchedulesForFacultyResult" nillable="true" type="q73:ArrayOfScheduleDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountSchedulesForScheduleInfoes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scheduleInfoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountSchedulesForScheduleInfoesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountSchedulesForScheduleInfoesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForSpeciality">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="specialityId" type="xs:int" />
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
        <xs:element minOccurs="0" name="studyYearId" type="xs:int" />
        <xs:element minOccurs="0" name="semester" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForSpecialityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetSchedulesForSpecialityResult" nillable="true" type="q74:ArrayOfScheduleDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForLecturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lecturerId" type="xs:int" />
        <xs:element minOccurs="0" name="studyYearId" type="xs:int" />
        <xs:element minOccurs="0" name="semester" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForLecturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetSchedulesForLecturerResult" nillable="true" type="q75:ArrayOfScheduleDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForAuditorium">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="auditoriumId" type="xs:int" />
        <xs:element minOccurs="0" name="studyYearId" type="xs:int" />
        <xs:element minOccurs="0" name="semester" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForAuditoriumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetSchedulesForAuditoriumResult" nillable="true" type="q76:ArrayOfScheduleDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetScheduleByIdResult" nillable="true" type="q77:ScheduleDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetSpecialitiesResult" nillable="true" type="q78:ArrayOfSpecialityDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialitiesForFaculti">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="facultyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialitiesForFacultiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetSpecialitiesForFacultiResult" nillable="true" type="q79:ArrayOfSpecialityDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetTimesResult" nillable="true" type="q80:ArrayOfTimeDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTutorialById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="tutorialDataTransfer" nillable="true" type="q81:TutorialDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTutorialByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetTutorialByIdResult" nillable="true" type="q82:TutorialDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTutorialsForGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="facultyDataTransfer" nillable="true" type="q83:FacultyDataTransfer" />
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="courseDataTransfer" nillable="true" type="q84:CourseDataTransfer" />
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="groupDataTransfer" nillable="true" type="q85:GroupDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTutorialsForGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetTutorialsForGroupResult" nillable="true" type="q86:ArrayOfTutorialDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTutorialsForSpeciality">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
        <xs:element minOccurs="0" name="specialityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTutorialsForSpecialityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetTutorialsForSpecialityResult" nillable="true" type="q87:ArrayOfTutorialDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTutorialsForFaculty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="facultyId" type="xs:int" />
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTutorialsForFacultyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetTutorialsForFacultyResult" nillable="true" type="q88:ArrayOfTutorialDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTutorialTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTutorialTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetTutorialTypesResult" nillable="true" type="q89:ArrayOfTutorialTypeDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTutorialTypeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="tutorialTypeDataTransfer" nillable="true" type="q90:TutorialTypeDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTutorialTypeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetTutorialTypeByIdResult" nillable="true" type="q91:TutorialTypeDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeekTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeekTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetWeekTypesResult" nillable="true" type="q92:ArrayOfWeekTypeDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudyYears">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudyYearsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" minOccurs="0" name="GetStudyYearsResult" nillable="true" type="q93:ArrayOfStudyYearDataTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>