Clients/Timetable.Site/Service References/NewDataService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Timetable.Data.Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Timetable.Data.Models.Scheduler" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Timetable.Host.Interfaces" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Timetable.Host.Models.Scheduler" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IDataService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IDataService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IDataService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSchedulesForDayTimeDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesForDayTimeDate" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSchedulesForDayTimeDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesForDayTimeDateResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSchedulesForAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesForAll" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSchedulesForAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesForAllResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTimetableEntities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimetableEntities" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTimetableEntities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimetableEntitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetGroupsByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupsByCode" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetGroupsByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupsByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_ValidateSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateSchedule" />
  </wsdl:message>
  <wsdl:message name="IDataService_ValidateSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetBranches_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBranches" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetBranches_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBranchesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetAuditoriums_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuditoriums" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetAuditoriums_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuditoriumsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetFreeAuditoriums_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFreeAuditoriums" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetFreeAuditoriums_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFreeAuditoriumsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetAuditoriumTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuditoriumTypes" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetAuditoriumTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuditoriumTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetBuildings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildings" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetBuildings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildingsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetCources_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCources" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetCources_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourcesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetDeparmtents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeparmtents" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetDeparmtents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeparmtentsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetFaculties_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFaculties" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetFaculties_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFacultiesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetGroupsByIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupsByIds" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetGroupsByIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupsByIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetsSubGroupsByGroupId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetsSubGroupsByGroupId" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetsSubGroupsByGroupId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetsSubGroupsByGroupIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetGroupsForFaculty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupsForFaculty" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetGroupsForFaculty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupsForFacultyResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetGroupsForSpeciality_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupsForSpeciality" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetGroupsForSpeciality_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupsForSpecialityResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetLecturersByDeparmentId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLecturersByDeparmentId" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetLecturersByDeparmentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLecturersByDeparmentIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetLecturersByTutorialId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLecturersByTutorialId" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetLecturersByTutorialId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLecturersByTutorialIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetLecturersByTutorialIdAndTutorialTypeId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLecturersByTutorialIdAndTutorialTypeId" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetLecturersByTutorialIdAndTutorialTypeId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLecturersByTutorialIdAndTutorialTypeIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetLecturerByFirstMiddleLastname_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLecturerByFirstMiddleLastname" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetLecturerByFirstMiddleLastname_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLecturerByFirstMiddleLastnameResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetLecturersByFirstMiddleLastname_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLecturersByFirstMiddleLastname" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetLecturersByFirstMiddleLastname_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLecturersByFirstMiddleLastnameResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetScheduleInfoById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleInfoById" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetScheduleInfoById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleInfoByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetScheduleInfoesForFaculty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleInfoesForFaculty" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetScheduleInfoesForFaculty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleInfoesForFacultyResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetScheduleInfoesForSpeciality_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleInfoesForSpeciality" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetScheduleInfoesForSpeciality_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleInfoesForSpecialityResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetScheduleInfoesForGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleInfoesForGroups" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetScheduleInfoesForGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleInfoesForGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetScheduleInfoesForDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleInfoesForDepartment" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetScheduleInfoesForDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleInfoesForDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetUnscheduledInfoes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnscheduledInfoes" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetUnscheduledInfoes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnscheduledInfoesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_CountScheduleCollisions_InputMessage">
    <wsdl:part name="parameters" element="tns:CountScheduleCollisions" />
  </wsdl:message>
  <wsdl:message name="IDataService_CountScheduleCollisions_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountScheduleCollisionsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSchedulesForGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesForGroups" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSchedulesForGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesForGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSchedulesForScheduleInfoes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesForScheduleInfoes" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSchedulesForScheduleInfoes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesForScheduleInfoesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSchedulesByDayTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesByDayTime" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSchedulesByDayTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesByDayTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSchedulesForFaculty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesForFaculty" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSchedulesForFaculty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesForFacultyResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_CountSchedulesForScheduleInfoes_InputMessage">
    <wsdl:part name="parameters" element="tns:CountSchedulesForScheduleInfoes" />
  </wsdl:message>
  <wsdl:message name="IDataService_CountSchedulesForScheduleInfoes_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountSchedulesForScheduleInfoesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSchedulesForSpeciality_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesForSpeciality" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSchedulesForSpeciality_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesForSpecialityResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSchedulesForLecturer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesForLecturer" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSchedulesForLecturer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesForLecturerResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSchedulesForAuditorium_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesForAuditorium" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSchedulesForAuditorium_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesForAuditoriumResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetScheduleById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleById" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetScheduleById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSpecialities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecialities" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSpecialities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecialitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSpecialitiesForFaculti_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecialitiesForFaculti" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetSpecialitiesForFaculti_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecialitiesForFacultiResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTimes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimes" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTimes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTutorialById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTutorialById" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTutorialById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTutorialByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTutorialsForGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTutorialsForGroup" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTutorialsForGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTutorialsForGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTutorialsForSpeciality_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTutorialsForSpeciality" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTutorialsForSpeciality_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTutorialsForSpecialityResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTutorialsForFaculty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTutorialsForFaculty" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTutorialsForFaculty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTutorialsForFacultyResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTutorialTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTutorialTypes" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTutorialTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTutorialTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTutorialTypeById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTutorialTypeById" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetTutorialTypeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTutorialTypeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetWeekTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeekTypes" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetWeekTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeekTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetStudyYears_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudyYears" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetStudyYears_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudyYearsResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseService/Add" message="tns:IDataService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseService/AddResponse" message="tns:IDataService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseService/Update" message="tns:IDataService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseService/UpdateResponse" message="tns:IDataService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseService/Delete" message="tns:IDataService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseService/DeleteResponse" message="tns:IDataService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedulesForDayTimeDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetSchedulesForDayTimeDate" message="tns:IDataService_GetSchedulesForDayTimeDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetSchedulesForDayTimeDateResponse" message="tns:IDataService_GetSchedulesForDayTimeDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedulesForAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetSchedulesForAll" message="tns:IDataService_GetSchedulesForAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetSchedulesForAllResponse" message="tns:IDataService_GetSchedulesForAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimetableEntities">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetTimetableEntities" message="tns:IDataService_GetTimetableEntities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetTimetableEntitiesResponse" message="tns:IDataService_GetTimetableEntities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupsByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetGroupsByCode" message="tns:IDataService_GetGroupsByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetGroupsByCodeResponse" message="tns:IDataService_GetGroupsByCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/ValidateSchedule" message="tns:IDataService_ValidateSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/ValidateScheduleResponse" message="tns:IDataService_ValidateSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBranches">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetBranches" message="tns:IDataService_GetBranches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetBranchesResponse" message="tns:IDataService_GetBranches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuditoriums">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetAuditoriums" message="tns:IDataService_GetAuditoriums_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetAuditoriumsResponse" message="tns:IDataService_GetAuditoriums_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFreeAuditoriums">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetFreeAuditoriums" message="tns:IDataService_GetFreeAuditoriums_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetFreeAuditoriumsResponse" message="tns:IDataService_GetFreeAuditoriums_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuditoriumTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetAuditoriumTypes" message="tns:IDataService_GetAuditoriumTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetAuditoriumTypesResponse" message="tns:IDataService_GetAuditoriumTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuildings">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetBuildings" message="tns:IDataService_GetBuildings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetBuildingsResponse" message="tns:IDataService_GetBuildings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCources">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetCources" message="tns:IDataService_GetCources_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetCourcesResponse" message="tns:IDataService_GetCources_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeparmtents">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetDeparmtents" message="tns:IDataService_GetDeparmtents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetDeparmtentsResponse" message="tns:IDataService_GetDeparmtents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFaculties">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetFaculties" message="tns:IDataService_GetFaculties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetFacultiesResponse" message="tns:IDataService_GetFaculties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupsByIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetGroupsByIds" message="tns:IDataService_GetGroupsByIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetGroupsByIdsResponse" message="tns:IDataService_GetGroupsByIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetsSubGroupsByGroupId">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetsSubGroupsByGroupId" message="tns:IDataService_GetsSubGroupsByGroupId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetsSubGroupsByGroupIdResponse" message="tns:IDataService_GetsSubGroupsByGroupId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupsForFaculty">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetGroupsForFaculty" message="tns:IDataService_GetGroupsForFaculty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetGroupsForFacultyResponse" message="tns:IDataService_GetGroupsForFaculty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupsForSpeciality">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetGroupsForSpeciality" message="tns:IDataService_GetGroupsForSpeciality_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetGroupsForSpecialityResponse" message="tns:IDataService_GetGroupsForSpeciality_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLecturersByDeparmentId">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetLecturersByDeparmentId" message="tns:IDataService_GetLecturersByDeparmentId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetLecturersByDeparmentIdResponse" message="tns:IDataService_GetLecturersByDeparmentId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLecturersByTutorialId">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetLecturersByTutorialId" message="tns:IDataService_GetLecturersByTutorialId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetLecturersByTutorialIdResponse" message="tns:IDataService_GetLecturersByTutorialId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLecturersByTutorialIdAndTutorialTypeId">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetLecturersByTutorialIdAndTutorialTypeId" message="tns:IDataService_GetLecturersByTutorialIdAndTutorialTypeId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetLecturersByTutorialIdAndTutorialTypeIdResponse" message="tns:IDataService_GetLecturersByTutorialIdAndTutorialTypeId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLecturerByFirstMiddleLastname">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetLecturerByFirstMiddleLastname" message="tns:IDataService_GetLecturerByFirstMiddleLastname_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetLecturerByFirstMiddleLastnameResponse" message="tns:IDataService_GetLecturerByFirstMiddleLastname_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLecturersByFirstMiddleLastname">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetLecturersByFirstMiddleLastname" message="tns:IDataService_GetLecturersByFirstMiddleLastname_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetLecturersByFirstMiddleLastnameResponse" message="tns:IDataService_GetLecturersByFirstMiddleLastname_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduleInfoById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetScheduleInfoById" message="tns:IDataService_GetScheduleInfoById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetScheduleInfoByIdResponse" message="tns:IDataService_GetScheduleInfoById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduleInfoesForFaculty">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetScheduleInfoesForFaculty" message="tns:IDataService_GetScheduleInfoesForFaculty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetScheduleInfoesForFacultyResponse" message="tns:IDataService_GetScheduleInfoesForFaculty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduleInfoesForSpeciality">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetScheduleInfoesForSpeciality" message="tns:IDataService_GetScheduleInfoesForSpeciality_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetScheduleInfoesForSpecialityResponse" message="tns:IDataService_GetScheduleInfoesForSpeciality_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduleInfoesForGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetScheduleInfoesForGroups" message="tns:IDataService_GetScheduleInfoesForGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetScheduleInfoesForGroupsResponse" message="tns:IDataService_GetScheduleInfoesForGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduleInfoesForDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetScheduleInfoesForDepartment" message="tns:IDataService_GetScheduleInfoesForDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetScheduleInfoesForDepartmentResponse" message="tns:IDataService_GetScheduleInfoesForDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnscheduledInfoes">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetUnscheduledInfoes" message="tns:IDataService_GetUnscheduledInfoes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetUnscheduledInfoesResponse" message="tns:IDataService_GetUnscheduledInfoes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountScheduleCollisions">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/CountScheduleCollisions" message="tns:IDataService_CountScheduleCollisions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/CountScheduleCollisionsResponse" message="tns:IDataService_CountScheduleCollisions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedulesForGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetSchedulesForGroups" message="tns:IDataService_GetSchedulesForGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetSchedulesForGroupsResponse" message="tns:IDataService_GetSchedulesForGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedulesForScheduleInfoes">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetSchedulesForScheduleInfoes" message="tns:IDataService_GetSchedulesForScheduleInfoes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetSchedulesForScheduleInfoesResponse" message="tns:IDataService_GetSchedulesForScheduleInfoes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedulesByDayTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetSchedulesByDayTime" message="tns:IDataService_GetSchedulesByDayTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetSchedulesByDayTimeResponse" message="tns:IDataService_GetSchedulesByDayTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedulesForFaculty">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetSchedulesForFaculty" message="tns:IDataService_GetSchedulesForFaculty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetSchedulesForFacultyResponse" message="tns:IDataService_GetSchedulesForFaculty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountSchedulesForScheduleInfoes">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/CountSchedulesForScheduleInfoes" message="tns:IDataService_CountSchedulesForScheduleInfoes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/CountSchedulesForScheduleInfoesResponse" message="tns:IDataService_CountSchedulesForScheduleInfoes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedulesForSpeciality">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetSchedulesForSpeciality" message="tns:IDataService_GetSchedulesForSpeciality_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetSchedulesForSpecialityResponse" message="tns:IDataService_GetSchedulesForSpeciality_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedulesForLecturer">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetSchedulesForLecturer" message="tns:IDataService_GetSchedulesForLecturer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetSchedulesForLecturerResponse" message="tns:IDataService_GetSchedulesForLecturer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedulesForAuditorium">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetSchedulesForAuditorium" message="tns:IDataService_GetSchedulesForAuditorium_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetSchedulesForAuditoriumResponse" message="tns:IDataService_GetSchedulesForAuditorium_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduleById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetScheduleById" message="tns:IDataService_GetScheduleById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetScheduleByIdResponse" message="tns:IDataService_GetScheduleById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecialities">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetSpecialities" message="tns:IDataService_GetSpecialities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetSpecialitiesResponse" message="tns:IDataService_GetSpecialities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecialitiesForFaculti">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetSpecialitiesForFaculti" message="tns:IDataService_GetSpecialitiesForFaculti_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetSpecialitiesForFacultiResponse" message="tns:IDataService_GetSpecialitiesForFaculti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimes">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetTimes" message="tns:IDataService_GetTimes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetTimesResponse" message="tns:IDataService_GetTimes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTutorialById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetTutorialById" message="tns:IDataService_GetTutorialById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetTutorialByIdResponse" message="tns:IDataService_GetTutorialById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTutorialsForGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetTutorialsForGroup" message="tns:IDataService_GetTutorialsForGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetTutorialsForGroupResponse" message="tns:IDataService_GetTutorialsForGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTutorialsForSpeciality">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetTutorialsForSpeciality" message="tns:IDataService_GetTutorialsForSpeciality_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetTutorialsForSpecialityResponse" message="tns:IDataService_GetTutorialsForSpeciality_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTutorialsForFaculty">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetTutorialsForFaculty" message="tns:IDataService_GetTutorialsForFaculty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetTutorialsForFacultyResponse" message="tns:IDataService_GetTutorialsForFaculty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTutorialTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetTutorialTypes" message="tns:IDataService_GetTutorialTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetTutorialTypesResponse" message="tns:IDataService_GetTutorialTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTutorialTypeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetTutorialTypeById" message="tns:IDataService_GetTutorialTypeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetTutorialTypeByIdResponse" message="tns:IDataService_GetTutorialTypeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeekTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetWeekTypes" message="tns:IDataService_GetWeekTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetWeekTypesResponse" message="tns:IDataService_GetWeekTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudyYears">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetStudyYears" message="tns:IDataService_GetStudyYears_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetStudyYearsResponse" message="tns:IDataService_GetStudyYears_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataServiceEndpoint" type="tns:IDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IBaseService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IBaseService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IBaseService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchedulesForDayTimeDate">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetSchedulesForDayTimeDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchedulesForAll">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetSchedulesForAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimetableEntities">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetTimetableEntities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupsByCode">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetGroupsByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateSchedule">
      <soap:operation soapAction="http://tempuri.org/IDataService/ValidateSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBranches">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetBranches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuditoriums">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetAuditoriums" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFreeAuditoriums">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetFreeAuditoriums" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuditoriumTypes">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetAuditoriumTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuildings">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetBuildings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCources">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetCources" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeparmtents">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetDeparmtents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFaculties">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetFaculties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupsByIds">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetGroupsByIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetsSubGroupsByGroupId">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetsSubGroupsByGroupId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupsForFaculty">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetGroupsForFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupsForSpeciality">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetGroupsForSpeciality" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLecturersByDeparmentId">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetLecturersByDeparmentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLecturersByTutorialId">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetLecturersByTutorialId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLecturersByTutorialIdAndTutorialTypeId">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetLecturersByTutorialIdAndTutorialTypeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLecturerByFirstMiddleLastname">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetLecturerByFirstMiddleLastname" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLecturersByFirstMiddleLastname">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetLecturersByFirstMiddleLastname" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduleInfoById">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetScheduleInfoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduleInfoesForFaculty">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetScheduleInfoesForFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduleInfoesForSpeciality">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetScheduleInfoesForSpeciality" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduleInfoesForGroups">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetScheduleInfoesForGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduleInfoesForDepartment">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetScheduleInfoesForDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnscheduledInfoes">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetUnscheduledInfoes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountScheduleCollisions">
      <soap:operation soapAction="http://tempuri.org/IDataService/CountScheduleCollisions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchedulesForGroups">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetSchedulesForGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchedulesForScheduleInfoes">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetSchedulesForScheduleInfoes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchedulesByDayTime">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetSchedulesByDayTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchedulesForFaculty">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetSchedulesForFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountSchedulesForScheduleInfoes">
      <soap:operation soapAction="http://tempuri.org/IDataService/CountSchedulesForScheduleInfoes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchedulesForSpeciality">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetSchedulesForSpeciality" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchedulesForLecturer">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetSchedulesForLecturer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchedulesForAuditorium">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetSchedulesForAuditorium" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduleById">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetScheduleById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecialities">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetSpecialities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecialitiesForFaculti">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetSpecialitiesForFaculti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimes">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetTimes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTutorialById">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetTutorialById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTutorialsForGroup">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetTutorialsForGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTutorialsForSpeciality">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetTutorialsForSpeciality" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTutorialsForFaculty">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetTutorialsForFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTutorialTypes">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetTutorialTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTutorialTypeById">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetTutorialTypeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeekTypes">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetWeekTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudyYears">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetStudyYears" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="DataServiceEndpoint" binding="tns:DataServiceEndpoint">
      <soap:address location="http://193.232.254.196:6058/SchedulerHost/Services/DataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>