Clients/Timetable.Site/Service References/DataService/DataService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.232.254.196:6058/SchedulerHostOld/Services/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities" />
  <xs:import schemaLocation="http://193.232.254.196:6058/SchedulerHostOld/Services/DataService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Timetable.Host.Interfaces" />
  <xs:import schemaLocation="http://193.232.254.196:6058/SchedulerHostOld/Services/DataService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities" minOccurs="0" name="entity" nillable="true" type="q1:BaseEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Timetable.Host.Interfaces" minOccurs="0" name="AddResult" nillable="true" type="q2:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities" minOccurs="0" name="entity" nillable="true" type="q3:BaseEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Timetable.Host.Interfaces" minOccurs="0" name="UpdateResult" nillable="true" type="q4:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities" minOccurs="0" name="entity" nillable="true" type="q5:BaseEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Timetable.Host.Interfaces" minOccurs="0" name="DeleteResult" nillable="true" type="q6:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleInfoesForGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="groups" nillable="true" type="q7:ArrayOfGroup" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="tutorialtype" nillable="true" type="q8:TutorialType" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="studyYear" nillable="true" type="q9:StudyYear" />
        <xs:element minOccurs="0" name="semester" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleInfoesForGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetScheduleInfoesForGroupsResult" nillable="true" type="q10:ArrayOfScheduleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForDayTimeDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dayOfWeek" nillable="true" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="period" nillable="true" type="q11:Time" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="weekType" nillable="true" type="q12:WeekType" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="lecturer" nillable="true" type="q13:Lecturer" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="auditorium" nillable="true" type="q14:Auditorium" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="groups" nillable="true" type="q15:ArrayOfGroup" />
        <xs:element minOccurs="0" name="subGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForDayTimeDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetSchedulesForDayTimeDateResult" nillable="true" type="q16:ArrayOfSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="lecturer" nillable="true" type="q17:Lecturer" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="auditorium" nillable="true" type="q18:Auditorium" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="groups" nillable="true" type="q19:ArrayOfGroup" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="weekType" nillable="true" type="q20:WeekType" />
        <xs:element minOccurs="0" name="subGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetSchedulesForAllResult" nillable="true" type="q21:ArrayOfSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForGroupOnlyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="group" nillable="true" type="q22:Group" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="studyYear" nillable="true" type="q23:StudyYear" />
        <xs:element minOccurs="0" name="semester" type="xs:int" />
        <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForGroupOnlyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetSchedulesForGroupOnlyIdResult" nillable="true" type="q24:ArrayOfSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimetableEntities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimetableEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetTimetableEntitiesResult" nillable="true" type="q25:ArrayOfTimetableEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetGroupsByCodeResult" nillable="true" type="q26:ArrayOfGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="schedule" nillable="true" type="q27:Schedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateScheduleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranches">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetBranchesResult" nillable="true" type="q28:ArrayOfBranch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuditoriums">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="building" nillable="true" type="q29:Building" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="auditoriumType" nillable="true" type="q30:AuditoriumType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuditoriumsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetAuditoriumsResult" nillable="true" type="q31:ArrayOfAuditorium" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreeAuditoriums">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="building" nillable="true" type="q32:Building" />
        <xs:element minOccurs="0" name="day" type="xs:int" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="weekType" nillable="true" type="q33:WeekType" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="time" nillable="true" type="q34:Time" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="tutorialType" nillable="true" type="q35:TutorialType" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="auditoriumType" nillable="true" type="q36:AuditoriumType" />
        <xs:element minOccurs="0" name="capacity" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreeAuditoriumsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetFreeAuditoriumsResult" nillable="true" type="q37:ArrayOfAuditorium" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuditoriumTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuditoriumTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetAuditoriumTypesResult" nillable="true" type="q38:ArrayOfAuditoriumType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetBuildingsResult" nillable="true" type="q39:ArrayOfBuilding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCources">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetCourcesResult" nillable="true" type="q40:ArrayOfCourse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeparmtents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeparmtentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetDeparmtentsResult" nillable="true" type="q41:ArrayOfDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFaculties">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="branch" nillable="true" type="q42:Branch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacultiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetFacultiesResult" nillable="true" type="q43:ArrayOfFaculty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetGroupByIdResult" nillable="true" type="q44:Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsSubGroupsByGroupId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetsSubGroupsByGroupIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetsSubGroupsByGroupIdResult" nillable="true" type="q45:ArrayOfGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsForCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="faculty" nillable="true" type="q46:Faculty" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="course" nillable="true" type="q47:Course" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsForCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetGroupsForCourseResult" nillable="true" type="q48:ArrayOfGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsForSpeciality">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="course" nillable="true" type="q49:Course" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="speciality" nillable="true" type="q50:Speciality" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsForSpecialityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetGroupsForSpecialityResult" nillable="true" type="q51:ArrayOfGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturersByDeparmentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="department" nillable="true" type="q52:Department" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturersByDeparmentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetLecturersByDeparmentIdResult" nillable="true" type="q53:ArrayOfLecturer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturersByTutorialId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="tutorial" nillable="true" type="q54:Tutorial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturersByTutorialIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetLecturersByTutorialIdResult" nillable="true" type="q55:ArrayOfLecturer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturersByTutorialIdAndTutorialTypeId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="tutorial" nillable="true" type="q56:Tutorial" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="tutorialType" nillable="true" type="q57:TutorialType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturersByTutorialIdAndTutorialTypeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetLecturersByTutorialIdAndTutorialTypeIdResult" nillable="true" type="q58:ArrayOfLecturer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturerByFirstMiddleLastname">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="arg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturerByFirstMiddleLastnameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetLecturerByFirstMiddleLastnameResult" nillable="true" type="q59:Lecturer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturersByFirstMiddleLastname">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="arg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturersByFirstMiddleLastnameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetLecturersByFirstMiddleLastnameResult" nillable="true" type="q60:ArrayOfLecturer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForScheduleInfoes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="scheduleInfo" nillable="true" type="q61:ScheduleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForScheduleInfoesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetSchedulesForScheduleInfoesResult" nillable="true" type="q62:ArrayOfSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleInfoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleInfoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetScheduleInfoByIdResult" nillable="true" type="q63:ScheduleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleInfoesForCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="faculty" nillable="true" type="q64:Faculty" />
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="course" nillable="true" type="q65:Course" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="studyYear" nillable="true" type="q66:StudyYear" />
        <xs:element minOccurs="0" name="semester" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleInfoesForCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetScheduleInfoesForCourseResult" nillable="true" type="q67:ArrayOfScheduleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleInfoesForSpeciality">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="faculty" nillable="true" type="q68:Faculty" />
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="course" nillable="true" type="q69:Course" />
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="speciality" nillable="true" type="q70:Speciality" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="studyYear" nillable="true" type="q71:StudyYear" />
        <xs:element minOccurs="0" name="semester" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleInfoesForSpecialityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetScheduleInfoesForSpecialityResult" nillable="true" type="q72:ArrayOfScheduleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleInfoesForGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="faculty" nillable="true" type="q73:Faculty" />
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="course" nillable="true" type="q74:Course" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="group" nillable="true" type="q75:Group" />
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="tutorialtype" nillable="true" type="q76:TutorialType" />
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="studyYear" nillable="true" type="q77:StudyYear" />
        <xs:element minOccurs="0" name="semester" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleInfoesForGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetScheduleInfoesForGroupResult" nillable="true" type="q78:ArrayOfScheduleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleInfoesForDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="department" nillable="true" type="q79:Department" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="studyYear" nillable="true" type="q80:StudyYear" />
        <xs:element minOccurs="0" name="semester" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleInfoesForDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetScheduleInfoesForDepartmentResult" nillable="true" type="q81:ArrayOfScheduleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnscheduledInfoes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="faculty" nillable="true" type="q82:Faculty" />
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="course" nillable="true" type="q83:Course" />
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="speciality" nillable="true" type="q84:Speciality" />
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="group" nillable="true" type="q85:Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnscheduledInfoesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetUnscheduledInfoesResult" nillable="true" type="q86:ArrayOfScheduleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountScheduleCollisions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="day" type="xs:int" />
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="time" nillable="true" type="q87:Time" />
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="weekType" nillable="true" type="q88:WeekType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountScheduleCollisionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountScheduleCollisionsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesByDayTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="day" type="xs:int" />
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="time" nillable="true" type="q89:Time" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesByDayTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetSchedulesByDayTimeResult" nillable="true" type="q90:ArrayOfSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="faculty" nillable="true" type="q91:Faculty" />
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="course" nillable="true" type="q92:Course" />
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="studyYear" nillable="true" type="q93:StudyYear" />
        <xs:element minOccurs="0" name="semester" type="xs:int" />
        <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetSchedulesForCourseResult" nillable="true" type="q94:ArrayOfSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="faculty" nillable="true" type="q95:Faculty" />
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="course" nillable="true" type="q96:Course" />
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="group" nillable="true" type="q97:Group" />
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="studyYear" nillable="true" type="q98:StudyYear" />
        <xs:element minOccurs="0" name="semester" type="xs:int" />
        <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="SubGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetSchedulesForGroupResult" nillable="true" type="q99:ArrayOfSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountSchedulesForScheduleInfoes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="scheduleInfo" nillable="true" type="q100:ScheduleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountSchedulesForScheduleInfoesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountSchedulesForScheduleInfoesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForSpeciality">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="faculty" nillable="true" type="q101:Faculty" />
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="course" nillable="true" type="q102:Course" />
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="speciality" nillable="true" type="q103:Speciality" />
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="studyYear" nillable="true" type="q104:StudyYear" />
        <xs:element minOccurs="0" name="semester" type="xs:int" />
        <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForSpecialityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetSchedulesForSpecialityResult" nillable="true" type="q105:ArrayOfSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForLecturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="lecturer" nillable="true" type="q106:Lecturer" />
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="studyYear" nillable="true" type="q107:StudyYear" />
        <xs:element minOccurs="0" name="semester" type="xs:int" />
        <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForLecturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetSchedulesForLecturerResult" nillable="true" type="q108:ArrayOfSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForAuditorium">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="auditorium" nillable="true" type="q109:Auditorium" />
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="studyYear" nillable="true" type="q110:StudyYear" />
        <xs:element minOccurs="0" name="semester" type="xs:int" />
        <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulesForAuditoriumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetSchedulesForAuditoriumResult" nillable="true" type="q111:ArrayOfSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetScheduleByIdResult" nillable="true" type="q112:Schedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="faculty" nillable="true" type="q113:Faculty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetSpecialitiesResult" nillable="true" type="q114:ArrayOfSpeciality" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="building" nillable="true" type="q115:Building" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetTimesResult" nillable="true" type="q116:ArrayOfTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTutorialById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="tutorial" nillable="true" type="q117:Tutorial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTutorialByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetTutorialByIdResult" nillable="true" type="q118:Tutorial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTutorialsForGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="faculty" nillable="true" type="q119:Faculty" />
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="course" nillable="true" type="q120:Course" />
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="group" nillable="true" type="q121:Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTutorialsForGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetTutorialsForGroupResult" nillable="true" type="q122:ArrayOfTutorial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTutorialsForSpeciality">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="faculty" nillable="true" type="q123:Faculty" />
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="course" nillable="true" type="q124:Course" />
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="speciality" nillable="true" type="q125:Speciality" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTutorialsForSpecialityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetTutorialsForSpecialityResult" nillable="true" type="q126:ArrayOfTutorial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTutorialsForCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="faculty" nillable="true" type="q127:Faculty" />
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="course" nillable="true" type="q128:Course" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTutorialsForCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetTutorialsForCourseResult" nillable="true" type="q129:ArrayOfTutorial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTutorialTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTutorialTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetTutorialTypesResult" nillable="true" type="q130:ArrayOfTutorialType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTutorialTypeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="tutorialType" nillable="true" type="q131:TutorialType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTutorialTypeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetTutorialTypeByIdResult" nillable="true" type="q132:TutorialType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeekTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeekTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetWeekTypesResult" nillable="true" type="q133:ArrayOfWeekType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudyYears">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudyYearsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/Timetable.Base.Entities.Scheduler" minOccurs="0" name="GetStudyYearsResult" nillable="true" type="q134:ArrayOfStudyYear" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>